body {
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'Merriweather', serif;
  color: Black;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}
.button.is-link{
  /*background-color: #337ab7;*/
  background-color: #ed7d31;
}

.button.is-link:hover{
  /*background-color: #FF5B33;*/
  background-color: #7a7a7a;
}

.link-block a {
    margin: 5px 10px;
}

.dnerf {
  font-variant: small-caps;
}
.hero .hero-body{
  margin-bottom: 2rem;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  /*font-family: 'Google Sans', sans-serif;*/
}

.abstract{
  font-size: 1.1em;
}

.acknowledgement{
  font-size: 1.1em;
}


.publication-title {
  font-size:  48px;
  font-weight: 700;
  margin-top:  0.5em;
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-subtitle {
    font-size: 32px;
    font-weight: 700;
}

.publication-authors {
  /*margin-top: 0.5rem;*/
  font-size:  1.3em;
    /*font-family: 'Google Sans', sans-serif;*/
}

.publication-venue {
  margin-top: 0.5em;
  font-size:  1.5em;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: hsl(204, 86%, 53%);
   /*color: #337ab7;*/
}

.publication-authors a:hover {
    color: #FF5B33;
    text-decoration: none;
}
.publication-authors a:transition{
  color .2s ease-in-out
}

.publication-links{
  margin-top:  10px;
}
.author-block {
  display: inline-block;
  margin:0 5px;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  /*border: 1px solid #bbb;*/
  border-radius: 10px;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.license{
  text-align: center;
}

.section{
  padding: 0;
  margin-top: 5em;
}
